<div id="<%= dom_id schedule %>">
  <p>
    <strong>Teacher name:</strong>
    <%= schedule.teacher_name %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= schedule.teacher_id %>
  </p>

  <p>
    <strong>Assistent name:</strong>
    <%= schedule.assistent_name %>
  </p>

  <p>
    <strong>Assistent:</strong>
    <%= schedule.assistent_id %>
  </p>

  <p>
    <strong>Leader name:</strong>
    <%= schedule.leader_name %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= schedule.leader_id %>
  </p>

  <p>
    <strong>Lesson title:</strong>
    <%= schedule.lesson_title %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= schedule.lesson_id %>
  </p>

  <p>
    <strong>Stopover day:</strong>
    <%= schedule.stopover_day %>
  </p>

</div>
