<%= form_with(model: type_profile) do |form| %>
  <% if type_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(type_profile.errors.count, "error") %> prohibited this type_profile from being saved:</h2>

      <ul>
        <% type_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
